/* CSS HEX */
:root {
  --isabelline: #efe9e7ff;
  --lavender-web: #dae0f2ff;
  --pink-lace: #f9cff2ff;
  --off-white: #f5f6fa;
  --palatinate-purple: #52154eff;
  --russian-violet: #111344;
  --black-blue: #212a33;
  --ochre: #ca7412;
  --faux-eerie: #0d1427;
  --gold: #d4af37;
  --primary-color: #111344;
  --secondary-color: var(--ochre);
  --hover-color: #aab4be;
  --secondary-hover: #c89c68;
  --font-color: #080c18;
  --bg-color: var(--off-white);
  --heading-color: #efe9e7ff;
  --section-color: #212a33;
}

@font-face {
  font-family: 'OpenSans';
  font-style: medium;
  font-weight: 500;
  src: url(/fonts/OpenSans/OpenSans-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'LibreBaskerville';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/LibreBaskerville/LibreBaskerville-Bold.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'DMSerifDisplay';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/DMSerifDisplay/DMSerifDisplay-Regular.ttf);
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: 'OpenSans';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'OpenSans';
  font-size: 100%;
}

h1 {
  font-family: 'DMSerifDisplay';
  font-size: 300%;
  padding-top: 5%;
  padding-bottom: 0%;
  margin-top: 10%;
  margin-bottom: 0%;
  max-height: max-content;
  min-height: 50%;
}

.wavy-container {
  padding-bottom: 15%;
  margin-bottom: 15%;
  height: 13%;
  position: relative;
}

h2 {
  font-family: 'DMSerifDisplay';
  font-size: 250%;
}

h3 {
  font-family: 'DMSerifDisplay';
  font-size: 250%;
  margin-top: 5%;
  margin-bottom: 5%;
  padding-top: 7%;
}

h4 {
  font-size: 200%;
  font-family: 'DMSerifDisplay';
}

h5 {
  font-size: 150%;
  font-family: 'DMSerifDisplay';
}

h6 {
  font-size: 125%;
  font-family: 'DMSerifDisplay';
}

header {
  font-family: 'DMSerifDisplay';
  display: flex;
  align-items: center;
  margin-top: 4%;
}

button {
  font-family: 'DMSerifDisplay';
}

span {
  font-family: 'DMSerifDisplay';
}

em.orange-emphasis {
  color: var(--secondary-color);
  font-style: normal;
  font-family: 'DMSerifDisplay';
}

nav {
  position: fixed;
  flex-direction: column;
  z-index: 5;
  padding: 1px 1px;
  transition: all 0.1s linear;
  animation-delay: 0s;
  width: 20%;
  margin-top: 2%;
}

nav a:active {
  background: transparent;
}

a.landing-service-links {
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
}

a.header-home-link {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: var(--font-color);
  cursor: pointer;
  align-items: center;
  font-family: DMSerifDisplay;
}

.landing-button {
  background-color: var(--section-color);
  cursor: pointer;
}

.landing-button-contact {
  cursor: pointer;
  color: var(--section-color);
}

button.landing-button:hover {
  background-color: #465a6e;
}

.btn {
  font-family: 'LibreBaskerville', Helvetica, sans-serif;
  text-transform: uppercase;
}

.navbar-item {
  color: var(--font-color);
  text-decoration: none;
  border-bottom: 2px solid transparent;
  text-align: center;
  background-color: white;
  width: 100%;
  font-family: DMSerifDisplay;
  box-shadow: 1px 1px 1px 1px rgb(126, 126, 126);
  margin-bottom: 3%;
  transition: visibility 0s 250ms;
}

.hamburger {
  background-color: transparent;
  display: block;
  margin: 1em;
  width: 32px;
  border: none;
  margin-top: 1px;
  cursor: pointer;
  color: var(--font-color);
  border: 1px solid transparent;
}

.last-nav-link {
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgb(126, 126, 126);
}

.navbar-item:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.landing {
  margin-top: 25px;
}

section {
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 10%;
  height: 100%;
  width: 100%;
  background-color: var(--off-white);
}

.landing-list-container {
  padding: 0 0 7% 0;
}

.rounded-logo {
  border-radius: 40%;
}

.landing-button-box {
  padding-bottom: 5%;
}

.landing-list-item {
  padding-left: 3%;
  padding-right: 3%;
}

.contact-link {
  background-color: var(--section-color);
  width: auto;
  max-width: 60%;
  padding: 2%;
  color: var(--off-white);
  font-family: DMSerifDisplay;
  font-size: 120%;
  text-align: center;
  border: 2px solid var(--secondary-color);
  align-self: center;
}

.contact-link:hover {
  background-color: var(--secondary-hover);
}
.services-header-image-container {
  height: 50vh;
  position: relative;
}

.about-header-image-container {
  height: 20vh;
  position: relative;
}

@keyframes drawBorder {
  /*animated border here*/
}

@media only screen and (min-width: 800px) {
  * {
    box-sizing: border-box;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu-Regular;
    font-size: 100%;
  }

  header {
    display: none;
  }

  h1 {
    font-size: 500%;
    padding-top: 0;
    margin-bottom: 10%;
    margin-top: 10%;
    max-height: 75%;
    min-height: 50%;
  }

  h2 {
    margin-top: 5%;
    padding-top: 7%;
  }

  a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  main {
    padding: 0;
  }

  section {
    padding-right: 25%;
    padding-left: 25%;
  }

  nav {
    position: inherit;
    flex-direction: row;
    background-color: var(--section-color);
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
  }

  nav > a {
    color: var(--heading-color);
    margin-left: 0.5%;
  }

  .rounded-logo {
    border-radius: 40%;
  }

  .navbar-item {
    color: var(--off-white);
    border-bottom: 2px solid transparent;
    font-family: 'OpenSans';
    margin-right: 0.5%;
    background-color: transparent;
    width: auto;
    align-self: center;
    font-weight: 500;
    margin-bottom: 0;
    box-shadow: none;
  }

  .last-nav-link {
    box-shadow: none;
  }

  .navbar-item:hover {
    border-bottom: 2px solid var(--secondary-color);
  }

  .landing {
    margin-top: 25px;
  }

  .btn {
    font-family: 'LibreBaskerville', Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
  }

  .landing-button-contact {
    cursor: pointer;
  }
  .landing-button-contact:hover {
    background-color: var(--hover-color);
  }

  .first-nav-link {
    margin-left: auto;
  }

  .last-nav-link {
    margin-right: 2%;
  }

  .adapting-paragraph {
    margin-bottom: 5%;
  }

  .adapting-bottom-paragraph {
    margin-top: 5%;
  }

  .landing-list-item {
    padding-left: 25%;
    padding-right: 25%;
  }

  .landing-button-box {
    padding-bottom: 7%;
  }
  .wavy-container {
    padding-bottom: 15%;
    margin-bottom: 5%;
    margin-top: auto;
    height: 13%;
    position: relative;
  }

  .services-header-image-container {
    height: 50vh;
    position: relative;
  }

  .about-header-image-container {
    height: 50vh;
    position: relative;
  }
}
