/* CSS HEX */
:root {
  --isabelline: #efe9e7ff;
  --lavender-web: #dae0f2ff;
  --pink-lace: #f9cff2ff;
  --palatinate-purple: #52154eff;
  --russian-violet: #111344ff;
  --ochre: #c97211ff;
  --faux-eerie: #0d1427;
  --primary-color: #111344ff;
  --secondary-color: #c97211ff;
  --font-color: #0d1427;
  --bg-color: #fff;
  --heading-color: #efe9e7ff;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: medium;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu-Regular'), url(/fonts/Ubuntu-Regular.ttf) format('ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Ubuntu-Regular;
  font-size: 125%;
}

a {
  color: inherit;
  text-decoration: none;
}

.rounded-logo {
  border-radius: 40%;
}

* {
  box-sizing: border-box;
}

.navbar-item {
  border-bottom: 2px solid transparent;
}

.navbar-item:hover {
  border-bottom: 2px solid var(--secondary-color);
}

.landing {
  margin-top: 25px;
}

.landing-tiles:hover {
  /*animate here*/
}
